html {
    
}
body {
    background: linear-gradient(rgb(23,55,83,0.5),rgb(109,174,219,0.5)),url(../Content/images/2.jpg);
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}


/* Set padding to keep content from hitting the edges */

section {
    width: 100vw;
    height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  

   
}
.newcard{
    filter:blur(4px);
}


.blurred-bg-container .content h1 {
  margin: 0;
}

.blurred-bg-container {
 
  height: 180vh; /* =h */
  background-size: cover;
}

.blurred-bg-container .content {
  background: inherit;
  width: 60%; /* =cw */
  height: 60%; /* =ch */
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%; /* =ct */
  left: 40%; /* =cl */
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.blurred-bg-container .text {
  padding: 16px;
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
  box-sizing: border-box; /* so that padding is included in height */
}

.blurred-bg-container .blur {
  background: inherit;
  height: 100vh; /* h */
  width: 166.667%; /* (100/cw) x 100% */
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(
    -10%,
    -30%
  ); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
  filter: blur(20px);
  z-index: -1;
}

#bootstrap-overrides .navbar-inverse {
    background-color:aqua;
}

.navbar-inverse {
    background-color: rgb(23,55,83,0.5) !important;
    border:none !important;
       
}