
@{
    ViewBag.Title = "Index";
}


<div class="blurred-bg-container">
    <div class=" content">
        <div class="text">
            <div class="card" style="width: 80rem; align-content:center;">

                Welcome @HttpContext.Current.User.Identity.Name

              
            </div>
        </div>
    </div>
</div>